<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="PageFactoryDemo">
	
	<listeners>
		<listener class-name="com.crm.qa.listeners.ListenerClass"></listener>
	</listeners>
  <!-- <test name="LoginPageTest">
    <classes>
      <class name="com.crm.qa.testCases.LoginPageTest"/>
    </classes>
  </test>
  <test name="CoursesPageTest">
    <classes>
      <class name="com.crm.qa.testCases.CoursesPageTest"/>      
    </classes>
  </test> --> <!-- Test -->
  <test name="AdminDashboardPageTest">
    <classes>
      <!-- <class name="com.crm.qa.testCases.AdminDashboardPageTest"/> -->
      <class name="com.crm.qa.mintTestCases.MINT1234"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- PageFactoryDemo -->
